
<div class="flex">
  <!-- Menú a la izquierda -->
  <div class=" bg-white w-1/6 h-screen">
    <nav>
      @for (item of menu; track $index) {
        <a
          class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-slate-200 hover:to-slate-100 hover:text-black"
          [routerLink]="[item.ruta]" routerLinkActive="bg-gray-100"
        >
          <i class="fas fa-home mr-2"></i>{{ item.nombre }}
        </a>
      }
    </nav>
  </div>

  <!-- Contenido a la derecha -->
  <div class="xl:ml-40 bg-gray-50 h-full w-4/6 p-4 rounded mt-8">
    <router-outlet />
  </div>
</div>
